@import '../abstract/variables';

// For debugging purposes
// * {
//     border: 1px solid red;
//     box-sizing: border-box;
// }

/* Flex box */
.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}

// Common style
.color-white {
    color: white !important;
}
.color-black {
    color: black !important;
}
.color-black-almost {
    color: $blackAlmost !important;
}
.hover-mid-grey:hover {
    background: $midGrey !important;
    transition: all 0.3s ease;
}

// Shared components
.message-container {
    position: fixed;
    top: 80px;
    left: calc(50% - 175px);
    width: 350px;
    z-index: 9999;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 60px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    animation: fadein 0.2s;
    color: white;
    font-size: 14px;
}
.tooltip {
    position: relative;
}

.tooltip-content {
    position: absolute;
    background-color: white;
    text-align: center;
    font-size: 12px;
    color: black;
    transform: translateX(-55%);
    white-space: nowrap;
    border-radius: 4px;
    padding: 6px 10px;
}

.tooltip-content:before {
    content: '';
    position: absolute;
}

/* POSITION TOP */
.tooltip-content.top {
    bottom: 100%;
    left: 50%;
    margin-bottom: 10px;
}
.tooltip-content.top:before {
    top: 100%;
    left: 50%;
    margin-left: -4px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
}
