@import '../abstract/variables';

.home-page {
    .main-container {
        margin: 50px 100px;
    }
    .calendar-container {
        margin-top: 20px;
        display: flex;
        background: white;
        overflow: hidden;
    }
    .hours-container {
        display: flex;
        flex-direction: column;
        min-width: $hourWidth;
        max-width: $hourWidth;
        border-right: 1px solid $lighterBlue;
        box-sizing: border-box;
    }
    .hour {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        box-sizing: border-box;
        font-size: 14px;
        color: $darkerBlue;
        padding-right: 5px;
        background: rgba(0, 108, 173, 0.2);
    }
    .hour-horizontal-line {
        margin: 0;
        margin-bottom: -1px;
        border: none;
        width: 100vw;
        border-bottom: 1px solid $lighterBlue;
    }
    .days-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: $dayHeight;
        box-sizing: border-box;
    }
    .day {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid $lighterBlue;
        border-right: none;
        border-left: none;
        background: $lightestBlue;
    }
    .day .number {
        font-size: 20px;
        font-weight: bold;
        color: $darkerBlue;
    }
    .day .text {
        font-size: 12px;
        color: $blue;
    }
    .day-vertical-line {
        width: 0;
        margin-top: -10px;
        border: none;
        border-left: 1px solid $lighterBlue;
    }
    .schedule-container {
        position: absolute;
        width: 100%;
        margin: $dayHeight 0 0px $hourWidth;
    }
    .bar-text {
        font-size: 14px;
        // font-weight: bold;
        color: $darkerBlue;
        margin: 5px;
    }
}
