@import '../abstract/variables';

.home-page {
    .main-container {
        margin: 50px 100px;
    }
    .calendar-container {
        margin-top: 20px;
        display: flex;
        background: white;
        overflow: hidden;
    }
    .hours-container {
        display: flex;
        flex-direction: column;
        min-width: $hourWidth;
        max-width: $hourWidth;
        border-right: 1px solid $lighterBlue;
        box-sizing: border-box;
    }
    .hour {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        box-sizing: border-box;
        font-size: 14px;
        color: $darkerBlue;
        padding-right: 5px;
        background: rgba(0, 108, 173, 0.2);
    }
    .hour-horizontal-line {
        margin: 0;
        margin-bottom: -1px;
        border: none;
        width: 100vw;
        border-bottom: 1px solid $lighterBlue;
    }
    .days-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: $dayHeight;
        box-sizing: border-box;
    }
    .day {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid $lighterBlue;
        border-right: none;
        border-left: none;
        background: $lightestBlue;
    }
    .day .number {
        font-size: 20px;
        font-weight: bold;
        color: $darkerBlue;
    }
    .day .text {
        font-size: 12px;
        color: $blue;
    }
    .day-vertical-line {
        width: 0;
        margin-top: -10px;
        border: none;
        border-left: 1px solid $lighterBlue;
    }
    .schedule-container {
        position: absolute;
        margin: $dayHeight 0 0px $hourWidth;
    }
    .bar-text {
        font-size: 14px;
        // font-weight: bold;
        color: $darkerBlue;
        margin: 5px;
    }
    .week-calendar {
        z-index: 5;
        .year-container {
            display: 'flex';
            flex-direction: 'row';
            justify-content: space-between;
            align-items: center;
        }
        .arrow-container {
            display: flex;
            width: auto;
            margin-bottom: 10px;
        }
        .arrow-item {
            display: flex;
            align-items: center;
            text-align: center;
            font-size: 13px;
            width: 28px;
            height: 28px;
            cursor: pointer;
        }
        .arrow-item:hover {
            background: $lightWhite;
            border-radius: 2px;
        }
        .arrow {
            color: $darkGrey;
            font-size: 13px;
        }
        .year {
            color: black;
            font-size: 14px;
            font-weight: bold;
            margin: 0 0 10px 5px;
        }
        .week-container {
            display: flex;
            flex-wrap: wrap;
            transition: all 0.3s ease;
        }
        .week-item {
            color: black;
            cursor: pointer;
            z-index: 2;
            position: relative;
            display: flex;
            justify-content: center;
            align-items:center;
            width: 34px;
            height: 34px;
            font-size: 11px;
            transition: all 0.3s ease;
        }
        .week-item:hover {
            background: $lightWhite;
        }
        .circle-current-week {
            position: absolute;
            border: 2px solid $blue;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            height: 26px;
            width: 26px;
            border-radius: 50%;
        }
        .footer-text {
            margin: 20px 0 5px 180px;
            color: black;
            font-size: 12;
            cursor: pointer;
        }
        .footer-text:hover {
            color: $blue;
        }
        .footer-text-disabled {
            margin: 20px 0 5px 180px;
            color: $midGrey;
            font-size: 12px;
        }
        .selected {
            background: $blue;
            color: white;
        }
    }

}
