/* Variable */
:root {
  --danger: #d32f2f;
  --waring: #f79108;
  --info: #1976d2;
  --lightestBlue: #c5dcf4;
  --lighterBlue: #94c1ef;
  --blue: #006CAD;
  --darkerBlue: #004a78f5;
  --success: #43a047;
  --red: #C42021;
  --lightWhite: #eeeeee;
  --midGrey: #94969a;
  --darkGrey: #393e46;
  --blackAlmost: #222831;
}